@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Error title -->
<div class="text-center content-group">
    <h1 class="error-title">Open Soon!!</h1>
    <h5>This function will be open soon.</h5>
</div>
<!-- /error title -->
<!-- Error content -->
<!-- /error wrapper -->
