@*<div class="row">
        <div class="col-md-12">
            <form action="/home/validatecaptcha" method="POST">
                <div class="g-recaptcha"
                     data-sitekey="6Ld1YgkUAAAAAFLjY1m2j9aJ7YPxyUTtaxiLTyV5"></div>
                <br />
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
    @section scripts{
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    }*@